/* >>> TABLE OF CONTENTS:
----------------------------------------
# Base
	- Typography
	- Elements
	- Links
  - Media
# Components
	- Header
	- Main
	- Footer
---------------------------------------- */

/* ----------
# Base
---------- */

html {
  scroll-behavior: smooth;
}

/* ---------- Typography ---------- */

@font-face {
  font-family: 'Neue Black';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/TheNeue-Black.woff2) format('woff2');
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  background-color: #e2e2e2;
  color: #000;
}

h1,
h2{
  font-family: 'Neue Black', "Times New Roman", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0rem;
}

figcaption {
  text-align: center;
}

/* ---------- Elements ---------- */

article {
  max-width: fit-content;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
}

/* ---------- Links ---------- */

a {
  text-decoration: none;
  color: black;
}

svg {
  fill: white;
}

/* ---------- Media ---------- */

img {
  max-width: 25rem;
  height: auto;
}

.works-img-container {
  margin: 0;
}

/* ----------
# Components
---------- */


/* ---------- Header ---------- */

header ul {
  text-align: center;
  padding-left: 0;
  font-size: 0.75rem;
  font-weight: 400;
}

.header-nav {
  background-color: gray;
  bottom: 0;
  left: 0;
  color: #fff !important;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
}

svg {
  display: block;
  margin: 0 auto;
}

header img {
  max-width: 5rem;
}

header {
  font-family: 'Neue Black', "Times New Roman", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

header li {
  list-style: none;
  display: inline;
}

/* ---------- Main ---------- */

main {
  margin: 0 2rem;
}

form {
  width: fit-content;
  margin: 0 auto;
}

.skill-title {
  font-weight: 800;
}

.skill-list {
  padding-left: 0;
  list-style: none;
}

.skill-list li:before {
  content: '✓ '
}

#contact svg {
  fill: black;
}

.contact-title {
  margin: 0;
}

.contact-items-container {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

/* ---------- Footer ---------- */

footer {
  text-align: center;
  margin-bottom: 5rem;
}